/* Apply some basic styling to the TableView */
#tableView {
    -fx-background-color: #5ed377;
}

/* Style the table columns */
#idColumn, #nameColumn, #scoreColumn, #priceColumn, #zipColumn, #categoryColumn, #menuColumn {
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: bold;
}

/* Add alternating row colors to the table */
/* You can adjust the colors to your preference */
.table-row-cell:odd {
    -fx-background-color: #c44444;
}

/* Style the "Close" button */
#closeButton {
    -fx-background-color: #3498db;
    -fx-text-fill: rgb(50, 57, 128);
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

/* Hover effect for the "Close" button */
#closeButton:hover {
    -fx-background-color: #2980b9;
}

/* Add more custom styles as needed */
