.label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(49, 158, 39);
}


.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(84, 149, 179);
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(84, 179, 143);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-cursor: hand;
    -fx-background-insets: -1, 1, 2;
    -fx-background-radius: 3, 2, 2;
}

.button:pressed {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(183, 207, 47);
    -fx-text-fill: rgb(50, 16, 201);
    -fx-background-insets: 1, 1, 2;
    -fx-background-radius: 3, 2, 2;
}


#list{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(204, 35, 255);
    -fx-text-fill: rgb(211, 255, 52);
}

.text-field-focused {
    -fx-background-color: rgb(255, 238, 192);
}

.text-field {
    -fx-background-color: rgb(214, 213, 213);
}



