/* Apply some basic styling to the TableView */
/* #tableView {
    -fx-background-color: #002fff;
} */

/* Style the table columns */
#restaurantColumn, #nameColumn, #categoryColumn, #priceColumn {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-alignment: TOP_CENTER;
    -fx-font-family: "Courier New", Monospace; /* Change to your desired font family */
    -fx-font-size: 20px;
}


/* Apply custom style to column headers */
.table-column .label {
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman", serif; /* Change to your desired font family */
    -fx-font-size: 10px; /* Set the desired font size for column headers */
}



/* Add alternating row colors to the table */
/* You can adjust the colors to your preference */
/* .table-row-cell:odd {
    -fx-background-color: #002fff;
    -fx-text-fill: rgb(84, 149, 179);
} */

/* Style the "Close" button */
#closeButton {
    -fx-text-fill: rgb(50, 57, 128);
    /* -fx-font-weight: bold; */
    -fx-padding: 10px 20px;
    -fx-background-color: radial-gradient(center 50%-40% ,radius 200%, #b0d42d, #b12a2a);
    -fx-background-radius: 15;
}

/* Hover effect for the "Close" button */
#closeButton:hover {
    /* -fx-background-color: #2980b9; */
    /* -fx-text-fill: rgb(57, 187, 107); */
    -fx-font-weight: bold;
}

#closeButton:pressed {
    /* -fx-background-color: #0197fc; */
    -fx-text-fill: rgb(0, 217, 255);
    -fx-font-weight: bold;
}


.table-cell{
    -fx-background-color: #000407;
    -fx-text-fill: #ffffff;
    -fx-cursor: inherit;
    -fx-background-radius: 6;
}
.table-cell:hover{
    -fx-background-color: #cfea21;
    -fx-text-fill: #75067b;
}
.table-cell:pressed{
    -fx-background-color: #cfea21;
    -fx-text-fill: #75067b;
}
.table-view .column-header:hover{
    -fx-background-color: #fffb00;
    -fx-text-fill: rgb(3, 17, 24);
}
/* Add more custom styles as needed */
