#idColumn, #nameColumn, #scoreColumn, #priceColumn, #zipColumn, #categoryColumn {
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-alignment: TOP_CENTER;
    -fx-font-family: "Courier New", Monospace;
    -fx-font-size: 20px;
}
#menuColumn{
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Courier New", Monospace;
    -fx-font-size: 12px;
}

.table-column .label {
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman", serif;
    -fx-font-size: 15px;
}

#closeButton {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-color: radial-gradient(center 50%-40% ,radius 200%, #b0d42d, #b12a2a);
    -fx-background-radius: 15;
}

#closeButton:hover {
    -fx-background-color: #2980b9;
    -fx-text-fill: rgb(174, 250, 203);
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#closeButton:pressed {
    -fx-background-color: #cefc01;
    -fx-text-fill: rgb(52, 16, 255);
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.table-cell{
    -fx-background-color: #000407;
    -fx-text-fill: #fff99e;
    -fx-cursor: inherit;
    -fx-background-radius: 3;
}
.table-cell:hover{
    -fx-background-color: #2e3503;
    -fx-text-fill: #91f73e;
}
.table-cell:pressed{
    -fx-background-color: #180b85;
    -fx-text-fill: #f7ac58;
    -fx-font-size: 20 ;
}
.table-view .column-header:hover{
    -fx-background-color: #fffb00;
    -fx-text-fill: rgb(3, 17, 24);
    -fx-cursor: hand;
}

.table-view .column-header:pressed{
    -fx-background-color: #c1fcef;
    -fx-text-fill: rgb(221, 146, 250);
}

